<div class="wrap">
<form [formGroup]="addItemForm">
    <h3 class="title">Add item</h3>
    <input 
      formControlName="myinput" 
      class="my-input" 
      type="text">
    <button 
      type="submit"
      class="add-btn" 
      (click)="onAddBtn()">
      Add
    </button>
  </form>
  <ul class="todo-list">
    <li 
      *ngFor="let todo of todos$ | async;"
      class="todo-item">
      <input 
        class="item-content" 
        [value]=todo.value 
        #updatetext
        (change)="onUpdate(todo,updatetext.value)"> 
      <div class="buttons">
        <button 
          class="delete-btn"
          (click)="onDelete(todo)">
          &times;
        </button>
      </div>
   </li>
  </ul> 
  </div>