* {
    box-sizing: border-box;
}

.wrap {
   margin: 0 auto;
   width: 700px;
}

.title {
    margin: 0;
    padding: 0;
    color: rgb(235, 124, 91);
}

.my-input{
    border: none;
   
    background: #eee;
    height: 50px;
    width:  400px;
    outline: #eee;
}

.add-btn {
    cursor: pointer;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 80px;
    height: 50px;
    color: rgb(235, 124, 91);
    outline: none;
    display: inline-block;
    transition: background 0.3s ease-in-out
}

.add-btn:hover {
    background: #fff;
    border: 2px solid #eee;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    margin-top: 10px;
    height: 30px;
    justify-content: space-between;
}


.buttons {
    display: flex;    
}


.delete-btn {
    cursor: pointer;
}

.update-btn {
    cursor: pointer;
}

.save-btn {
    cursor: pointer;
}

.item-content {
    padding: 0;
    margin: 0;
    width: 100%;
}